[submodule "Nest.js"]
    path = "Nestjs"
    url = "https://github.com/JhonnK08/imersao-full-cycle-nestjs"
[submodule "imersao-full-cycle-nestjs"]
	path = imersao-full-cycle-nestjs
	url = https://github.com/JhonnK08/imersao-full-cycle-nestjs
[submodule "nestjs"]
	path = nestjs
	url = https://github.com/JhonnK08/imersao-full-cycle-nestjs
